.field_with_errors input, .field_with_errors textarea {
  border: 1px solid red;
}
.skin-red-light .main-header .logo {
    background-color: rgba(192,0,0,1);
}
.skin-red-light .main-header .navbar {
    background-color: rgba(192,0,0,1);
}

.logo-lg img {
  margin-top: -5px;
}
.logo-lg b {
  font-size: 16px;
}
@media (max-width:500px) {
  .logo-lg b {
    font-size: 13px;
  }
}
.desc {
  font-size: 17px;
}
.previewImage {
  max-width: 600px;
}
#sidebar-wrapper {
    background: rgba(128, 128, 128, 0.2) !important;
}
.sidebar-nav li a {
    color: #000000 !important;
}
.dataTables_info {
  display: none;
}
/*.logo-simple img {
  margin-top: -9px;
}*/
.main-header .logo {
    font-size: 13px;
    font-weight: 400;
}
